html {
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
  background-color: #546d64;
  background-image: url('./fists.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  font-size: 9rem;
  margin: 3rem 0 1rem 0;
  text-align: center;
  font-family: 'East Sea Dokdo', cursive;
  background-color: rgba(249, 237, 149, 0.6);
  border-top: 10px solid #9c2727;
  border-bottom: 10px solid #9c2727;
}

.players-header {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-size: 4.5rem;
  font-family: 'East Sea Dokdo', cursive;
  color: black;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin: 0 auto;
  text-shadow: 4px 4px 5px rgba(249, 237, 149);
  text-shadow: 4px 4px 5px rgba(249, 237, 149);
}

.play-area {
  display: flex;
  justify-content: space-evenly;
}

.player-choice {
  font-size: 2.5rem;
  font-family: 'East Sea Dokdo', cursive;
  width: 12rem;
  height: 4rem;
  margin: 1rem;
  display: block;
  border-radius: 8px;
  border-width: 4px;
  background-color: rgba(255, 255, 255, 0.9);
}

.player-choice:hover {
  font-size: 2.9rem;
  border-color: #9c2727;
  background-color: rgba(225, 43, 43, 0.8);
  cursor: pointer;
}

.game-results {
  font-size: 4rem;
  font-family: 'East Sea Dokdo', cursive;
  color: rgb(225, 43, 43);
  color: black;
  text-shadow: 3px 3px 5px rgba(249, 237, 149);
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.7rem;
}

p {
  text-align: center;
}

.reset-container {
  display: flex;
  justify-content: center;
}

.reset {
  font-family: 'East Sea Dokdo', cursive;
  width: 20rem;
  height: 4rem;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  border-radius: 8px;
  border-width: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}

.reset:hover {
  background-color: rgba(225, 43, 43, 0.8);
  border-color: #9c2727;
  font-size: 2.9rem;
  cursor: pointer;
}

.game-over {
  display: none;
}

.winner {
  font-size: 6rem;
}

.hidden {
  visibility: hidden;
}
